# 파이썬 반복문

In [1]:
# 131

fruits = ['사과', '귤', '수박']

for i in fruits:
    print(i)

사과
귤
수박

In [2]:
# 132

fruits = ['사과', '귤', '수박']

for i in fruits:
    print("#####")

#####
#####
#####

In [3]:
# 136

numbers = [10, 20, 30]

for i in numbers:
    print(i)

10
20
30

In [4]:
# 138

numbers = [10, 20, 30]

for i in numbers:
    print(i)
    print('------')

10
------
20
------
30
------

In [6]:
# 139

numbers = [10, 20, 30]

print('+++')

for i in numbers:
    print(i)

+++
10
20
30

In [9]:
# 141

li = [100, 200, 300]

for i in li:
    print(i+10)

110
210
310

In [17]:
# 142

manu = ["김밥", "라면", "튀김"]

# for i in manu:
#     print("오늘의 메뉴: " + i)
    
for i in manu:
    print("오늘의 메뉴:", i)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [14]:
# 143

stock = ["SK하이닉스", "삼성전자", "LG전자"]

for i in stock:
    print(len(i))

6
4
4

In [18]:
# 144

animals = ['dog', 'cat', 'parrot']

for i in animals:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [20]:
# 145

animals = ['dog', 'cat', 'parrot']

for i in animals:
    print(i[0])

d
c
p

In [23]:
# 146

li = [1, 2, 3]

for i in li:
    print("3 x", i)

3 x 1
3 x 2
3 x 3

In [25]:
# 147

li = [1, 2, 3]

for i in li:
    print("3 x", i, "=", 3*i)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [21]:
# 148

li = ["가", "나", "다", "라"]

# for i in li:
#     if i == "가":
#         pass
#     else:
#         print(i)
        
for i in li[1:]:
    print(i)

나
다
라

In [22]:
# 149 
# 홀수 위치만 인덱싱

li = ["가", "나", "다", "라"]

for i in li[0::2]:
    print(i)

가
다

In [23]:
# 150
# 역순 출력

li = ["가", "나", "다", "라"]

for i in li[::-1]:
    print(i)

라
다
나
가

In [24]:
# 151 
# 리스트에서 음수만 출력

li = [3, -20, -3, 44]

for i in li:
    if i < 0:
        print(i)

-20
-3

In [28]:
# 152
# 리스트에서 3의 배수만 출력


li = [13, 21, 12, 14, 30, 18]

for i in li:
    if (i % 3 == 0) & (i < 20):
        print(i)

12
18